


.imagegallery {
  height: 100%;
}

img {
width: 100%;
}

.fullview img {
  width: 100;
  height: auto;
  object-fit: cover;
  }

.preview {
width: 100%;
display: flex;
}

li {
  list-style: none;
}

